<div class="container top-buffer col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">
  <div>
    <h5>Edit Post!</h5>
    <%= simple_form_for @post do |f| %> <%= f.error_notification %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= f.input :title, required: true %>
        </p>
        <p>
          <%= f.label :topic %><br />
          <%= f.select :topic, @post.post_topics %>
        </p>
        <p>
          <%= f.check_box :isPublishable, checked_value: true, unchecked_value: false %>
          <span class="label-text">Do you want to publish this post?</span>
        </p>
      </div>
    </div>
    <br />
    <%= f.submit 'Update Post', class: 'btn btn-outline-primary submit' %>
    <% end %>
  </div>
  <hr>
  <% if @post.images.length > 0 %>
  <div></div>
  <% else %>
  <div class="top-buffer">
    <h4>Add Post Image</h4> 
  </div>
  <div class="top-buffer">
    <%= link_to 'Add A Post Image', new_post_image_path(@post), class: 'btn btn-outline-primary' %>
  </div>
  <hr>
  <% end %>
  <div class="top-buffer">
    <h4>Add Post Sections</h4> 
  </div>
  <div class="top-buffer">
    <%= link_to 'Add A Post Section', new_post_section_path(@post), class: 'btn btn-outline-primary' %>
  </div>
  <hr class="top-buffer">
  <% if @post.images %>
  <% @post.images.each do |image| %>
  <div class="image-section">
    <p>Post Image</p>
    <div>
      <%= image_tag(image.photo.url, class: "img-fluid") %>
    </div>
    <div class="caption-buffer">
      <%= image.caption %>
    </div>
    <div class="edit-section">
      <%= link_to 'Edit Image', edit_post_image_path(@post, image), class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="sections top-buffer">
    <% if @post.sections %>
    <% @post.sections.each do |section| %>
    <div class="new-section top-buffer">
      <p class="section-title"><%= section.title %></p>
      <p class="section-content"><%= section.content %></p>
      <p class="section-gist"><script src="<%= section.gist %>"></script></p>
    </div>
    <div class="edit-section">
      <%= link_to 'Edit Section', edit_post_section_path(@post, section), class: 'btn btn-outline-primary' %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
