<div class="container top-buffer">
  <div>
    <h5>Edit Post!</h5>
    <%= simple_form_for @post do |f| %> <%= f.error_notification %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= f.input :title, required: true %>
        </p>
        <p>
          <%= f.label :topic %><br />
          <%= f.select :topic, @post.post_topics %>
        </p>
        <p>
          <%= f.input :image %>
        </p>
        <p>
          <%= f.check_box :isPublishable, checked_value: true, unchecked_value: false %>
          <span class="label-text">Do you want to publish this post?</span>
        </p>
      </div>
    </div>
    <br />
    <%= f.submit 'Update Post', class: 'btn btn-outline-primary submit' %>
    <% end %>
  </div>
  <hr class="top-buffer">
  <div class="sections top-buffer">
    <h5>Add Post Section!</h5>
    <%= simple_form_for @section, url: post_sections_path(@post) do |f| %>
    <div class="new-section">
      <p><%= f.input :title %></p>
      <p><%= f.input :content %></p>
      <p><%= f.input :gist %></p>
    </div>
    <div class="submit-section">
      <%= f.submit "Add a Section", class: 'btn btn-outline-primary' %>
    </div>
    <% end %>
  </div>
  <hr class="top-buffer">
  <div class="sections top-buffer">
    <% if @post.sections %>
    <% @post.sections.each do |section| %>
    <div class="new-section top-buffer">
      <p><%= section.title %></p>
      <p><%= section.content %></p>
      <p><script src="<%= section.gist %>"></script></p>
    </div>
    <div class="edit-section">
      <%= link_to 'Edit Section', edit_post_section_path(@post, section), class: 'btn btn-outline-primary' %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
