<div class="container top-buffer">
  <div class="row recent-post-wrapper bottom-buffer">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h5 class='recent-post-info'>Recent Posts (<%= @total_posts %>)</h5>
    </div>
    <div class="top-buffer col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="search-box">
        <%= form_tag(posts_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', title: nil %>
      <% end %>
      </div>
    </div>
  </div>

  <% @posts.each do |post| %>
    <% if post.isPublishable? %>
      <%= link_to post_path(post), class: 'post-link' do %>
        <div class="card col-md">
        <div class="container post-preview-wrapper">
        <span class="post-details recent-post-info"><h2 class="title"><%= post.title %></h2><span class="post-image"><%= image_tag(post.topic_image) %></span>
          <p class="post-date"><i><%= post.post_date %></i></p>
          <div class="post-preview">
            <%= post.first_section_content.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <% if user_signed_in? && current_user.isAdmin %>
    <div>
      <p>Welcome <%= current_user.email %>!</p>
      <p>
        <%= link_to 'Admin Page', admins_path, class: 'btn btn-sm btn-outline-primary' %>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-primary' %>
      </p>
    </div>
    <% end %>
  </div>

  <div class="bottom-buffer pagination">
    <%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>
  </div>
</div>
