<div class="container top-buffer">
  <div>
    <% if user_signed_in? && current_user.isAdmin %>
    <div>
      <p>Welcome <%= current_user.email %>!</p>
      <p>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </p>
      <p>
        <%= link_to 'Admin Page', admins_path, class: 'btn btn-sm btn-outline-primary' %>
      </p>
    </div>
    <% else %>
    <div>
      <p><%= link_to 'Sign-In', new_user_session_path %></p>
      <p><%= link_to 'Sign-Up', new_user_registration_path %></p>
    </div>
    <% end %>
  </div>

  <% @posts.each do |post| %>
  <% if post.isPublishable? %>
  <%= link_to post_path(post), class: 'post-link' do %>
    <div class="card col-md">
      <div class="container post-preview-wrapper">
      <span class="post-details"><h4><b><%= post.title %></b></h4><span class="post-image"><%= image_tag(post.topic_image) %></span>
      <p class="post-date"><i><%= post.post_date %></i></p>
        <div class="post-preview">
         <%= post.first_section_content %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
</div>
