<div class="container top-buffer">
  <h5><%= @post.title %></h5>
  <p><%= @post.topic %></p>
</div>
<div class="sections container top-buffer">
  <% @post.sections.each do |section| %>
  <div>
    <p><%= section.title %></p>
    <p><%= section.content %></p>
    <p><%= section.gist %></p>
  </div>
  <% end %>
</div>