<div class="container top-buffer bottom-buffer">
  <span class="post-details"><h4 class='title'><%= @post.title %></h4><span class="post-image"><%= image_tag(@post.topic_image) %></span>
  <p><%= @post.post_date %></p>
</div>
<div class="sections container top-buffer">
  <% @post.sections.each do |section| %>
  <div class="bottom-buffer">
    <p class="title"><%= section.title %></p>
    <p class="section-content"><%= section.content %></p>
    <p><script src="<%= section.gist %>"></script></p>
  </div>
  <% end %>
</div>
