<div class="post-show container">
  <div class="top-buffer bottom-buffer">
    <span class="post-details"><h3 class='title'><%= @post.title %></h1><span class="post-image"><%= image_tag(@post.topic_image) %></span>
    <p class="post-date"><%= @post.post_date %></p>
  </div>
  <% if @post.images %>
  <% @post.images.each do |image| %>
  <div class="image-wrapper">
    <div class="details-image">
      <%= image_tag(image.photo.url, class: "img-fluid") %>
    </div>
    <div class="caption-buffer">
      <%= image.caption %>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="sections top-buffer">
    <% @post.sections.order('created_at ASC').each do |section| %>
    <div class="bottom-buffer">
      <p class="section-title"><b><%= section.title %></b></p>
      <p class="section-content"><%= section.content.html_safe %></p>
      <p class="section-gist"><script src="<%= section.gist %>"></script></p>
    </div>
    <% end %>
  </div>
  <div class="back-button top-buffer">
    <%= link_to 'Back To Index', root_path, class: 'btn btn-md btn-outline-primary' %>
  </div>
</div>
