<!DOCTYPE html>
<html>
  <head>
    <title>RailsBg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <% if flash[:error].present? %>
     <div class="alert alert-danger text-center notifications">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <% if flash[:alert].present? || flash[:notice].present? %>
      <div class="notifications">
        <center>
          <p class="notice alert"><%= notice %><%= alert %></p>
        </center>
      </div>
    <% end %>
    <div class="header-section container">
      <div class="header-title">
        <h1><span class="title-first"><a href="/">Coding</span><span class="title-last">Bitz</a></span></h1>
      </div>
      <div class="header-description">
        <p>A blog to share snippets of code by <a href="https://www.wade-carlson.com/" target="_blank"><span class="highlight initials"><b>WC</b></span></a></p>
        <hr>
      </div>
    </div>
 
    <div id="wrapper">
      <%= yield %>
    </div>

    <div id="footer" class="footer-content">
      <div class="col-sm text-center">
        <span><p id="year"><b>Coding Bitz &copy <%= Date.today.year %></b></p></span>
      </div>
    </div>
  </div>
  </body>
</html>
